<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Word Game</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link th:href="@{style.css}" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="col-md-12">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" >VocabVortex</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user}">Play Game</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Level
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Easy</a></li>
                            <li><a class="dropdown-item" href="#">Medium</a></li>
                            <li><a class="dropdown-item" href="#">Hard</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="ml-auto">
                    <a th:href="@{/users/logout1}">
                        <button type="button" class="btn btn-warning position-relative">
                            Logout
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="wrapper" >
    <form action="/index" method="post" style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap:16px;">
        <label for="level" style="margin-top:16px;">Select Level:</label>
        <select name="selectedLevel" id="level">
            <option th:each="level : ${levels}" th:value="${level}"
                    th:text="${level}"></option>
        </select>
        <button type="submit" style="margin-bottom: 16px" id="btnx">Submit</button>
    </form>
</div>

</body>
</html>